# --- API Security ---
# This is your master password for the API. Include this value in the "X-API-Key" HTTP header.
API_KEY=your_super_secret_api_key_here

# --- Server configuration ---
HOST=0.0.0.0
PORT=8000

# --- Database Connections ---
# You can define as many databases as you want.
# Format: DB_URL_{name} = {sqlalchemy_connection_string}
# Replace '{name}' with the identifier you want to use in your API url (e.g. example.com/api/{name}/query)

# Example: MySQL
# Format: mysql+pymysql://<user>:<password>@<host>:<port>/<dbname>
DB_URL_MAIN=mysql+pymysql://my_db_user:my_db_pass@127.0.0.1:3306/my_database

# Example: SQLite
DB_URL_TEST=sqlite:///./test.db

# Example: PostgreSQL
# DB_URL_PG=postgresql://pg_user:pg_pass@localhost:5432/pg_db
